# Instant Data Intensive Apps with pandas How-to
# Manipulate, visualize, and analyze your data with pandas
# Trent Hauck

Table of Contents
Preface 1
Instant Data-intensive Apps with pandas How-to 5
Working with files (Simple) 5
Slicing pandas objects (Simple) 8
Subsetting data (Simple) 10
Working with dates (Medium) 12
Modifying data with functions (Simple) 14
Combining datasets (Medium) 18
Using indexes to manipulate objects (Medium) 20
Getting data from the Web (Simple) 23
Combining pandas with scikit-learn (Advanced) 25
Integrating pandas with statistics packages (Advanced) 28
Using Flask for the backend (Advanced) 30
Visualizing pandas objects (Advanced) 33
Reporting with pandas objects (Medium) 36

In [1]:
import numpy as np
import pandas as pd

In [2]:
my_df = pd.DataFrame([1,2,3])

In [3]:
my_df

   0
0  1
1  2
2  3

In [4]:
import matplotlib.pyplot as plt